body {
	background-color: #f0f0f0;
}

html, body {
	margin: 0;
	padding: 0;
}

.list {
	
	width: calc(15% - 9px);
	min-width: 100px;
	max-width: calc(15% - 8px);
	
	position: absolute;
	
	height: calc(100% - 8px);
	max-height: calc(100% - 8px);
	min-height: calc(100% - 8px);
	
	left: 0;
}

.content {
	padding: 4px;
	
	width: calc(85% - 8px); 
	min-width: 100px; 
	max-width: calc(85% - 8px); 
	
	position: absolute;
		
	height: calc(100% - 8px);
	min-height: calc(100% - 8px);
	max-height: calc(100% - 8px);
	
	right: 0;
	
}

.list-item
{
	padding: 4px;
	cursor: pointer;
}

.container {
    background-color: #d8d8d8;
}

.item {
	background-color: #c0c0c0;
}

.toggle {
	margin-left:20px;
}